<div [formGroup]="importForm" *ngIf="idUser == null"  class="login-part2389">
  <h4>Login</h4>
  <div class="input-group300"> <span><i class="fa fa-user" aria-hidden="true"></i></span>
      <input formControlName="email" type="text" class="namein309" placeholder="Username"> </div>
  <div class="input-group300"> <span><i class="fa fa-lock" aria-hidden="true"></i></span>
      <input formControlName="password" type="password" class="passin309" placeholder="Name"> </div>
  <i>{{message}}</i>
      <a href="#">
      <button (click)=" UserLogin()" type="button" class="userlogin320">Log In</button>
  </a>
  <div class="rememberme">
    <a href="#" class="resbutton3892" routerLink="/sign-up">Register</a> </div>
    <br>
</div>


