<div [formGroup]="importForm" *ngIf="idUser == null"  class="login-part2389">
  <h4>Login</h4>
  <div class="input-group300"> <span><i class="fa fa-user" aria-hidden="true"></i></span>
      <input formControlName="email" type="text" class="namein309" placeholder="Username"> </div>
  <div class="input-group300"> <span><i class="fa fa-lock" aria-hidden="true"></i></span>
      <input formControlName="password" type="password" class="passin309" placeholder="Name"> </div>
  <i>{{message}}</i>
      <a href="#">
      <button (click)=" UserLogin()" type="button" class="userlogin320">Log In</button>
  </a>
  <div class="rememberme">
    <a href="#" class="resbutton3892" routerLink="/sign-up">Register</a> </div>
    <br>
</div>

<div  *ngIf="idGroup != null && this.idUser != null">
  <a [routerLink]="['/add-post', idGroup,this.route.snapshot.paramMap.get('idCategory')]"  class="form-control">Add Post</a>
</div>

<div  *ngIf="idCategory != 4 && idCategory != null && this.idUser != null">
  <mat-list class="scroll">
    <div mat-subheader>Groups {{groupDans}}</div>
    <mat-list-item  *ngFor="let group of listGroup">
      <mat-icon mat-list-icon><a [routerLink]="['/byGroup', group?.id,group.categoryId,group.title]">folder</a> </mat-icon>
      <div mat-line><a [routerLink]="['/byGroup', group?.id,group.categoryId,group.title]">{{group.title}}</a>
        <a *ngIf="this.idUser != null"  [routerLink]="['/add-post', group.id,group.categoryId,group.title]" class="float-right" ><i class="fa fa-plus" aria-hidden="true"></i> </a>


      </div>
      <div mat-line> {{group.date }} </div>
    </mat-list-item>
    <mat-divider></mat-divider>

  </mat-list>
</div>



