<div class="modal-wrap">

  <div class="modal-bodies">
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title">S'IDENTIFIER</div>
      <div class="description">{{message}}</div>
      <form [formGroup]="importForm">
        <input formControlName="email" type="text" placeholder="Email"    />
        <input formControlName="password" type="email" placeholder="Password"/>
        <div class="text-center">
          <div class="button" (click)="UserLogin()"> SE CONNECTER</div><br><br>
            <a routerLink="/sign-up" ><div  class="button">Créer un compte utilisateur </div></a>
        </div>
      </form>
    </div>


  </div>
</div>
