<section class="welcome-part-one">
  <div class="container">
      <div class="welcome-demop102 text-center">


          <div class="form-style8292-">
              <div class="input-group"> <span class="input-group-addon"><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
                  <input type="text" class="form-control form-control8392" placeholder="Ask any question and you be sure find your answer ?"> <span class="input-group-addon"><a href="#">Ask Now</a></span>
                </div>
          </div>
      </div>
  </div>
</section>
