<header></header>


<section class="header-descriptin329">
  <div class="container">
      <h3>Post Details</h3>
      <ol class="breadcrumb breadcrumb839">
          <li><a href="#">Home</a></li>
          <li><a href="#">Post Details</a></li>
          <li class="active">This Is My first Question</li>
      </ol>
  </div>
</section>
<!-- ======content section/body=====-->
<section class="main-content920">
  <div class="container">
    <div class="row">
      <div class="col-md-9">


        <div class="post-details">
          <div class="details-header923">
              <div class="row">
                  <div class="col-md-8">
                      <div class="post-title-left129">
                          <h3>{{post?.title}}</h3> </div>
                  </div>
                  <div class="col-md-4">
                      <div class="post-que-rep-rihght320"> <a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> {{post?.category.value}}</a>  </div>
                  </div>
              </div>
          </div>
          <img src="assets/image/blog-2-806x440.png" alt="Image" class="img-responsive">

          <div class="post-details-info1982">
              {{post?.content}}
               <hr>
              <div class="post-footer29032">
                  <div class="l-side2023"> <i class="fa fa-check check2" aria-hidden="true"> solved</i> <a href="#"><i class="fa fa-thumb-tack star2" aria-hidden="true">  5</i></a> <i class="fa fa-folder folder2" aria-hidden="true"> {{post?.category.value}}</i> <i class="fa fa-clock-o clock2" aria-hidden="true"> {{post?.date}}</i> <a href="#"><i class="fa fa-commenting commenting2" aria-hidden="true"> {{post?.nbComment}}</i></a> <i class="fa fa-user user2" aria-hidden="true"> {{post?.views}}</i> </div>
                  <div class="l-rightside39">
                      <button (click)="likeDislike(true)" type="button" class="tolltip-button thumbs-up2" data-toggle="tooltip" data-placement="bottom" title="Like"><i class="fa fa-thumbs-o-up " aria-hidden="true"></i><span class="single-question-vote-result">{{post?.nblike}}</span> </button>
                      <button (click)="likeDislike(false)" type="button" class="tolltip-button  thumbs-down2" data-toggle="tooltip" data-placement="bottom" title="Dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button> <span class="single-question-vote-result">{{post?.nbdislike}}</span> </div>
              </div>
          </div>
      </div>

      <div class="author-details8392">
          <div class="author-img202l"> <img src="assets/image/{{post?.user.img}}" alt="image">
              <div class="au-image-overlay text-center"> <a href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a> </div>
          </div> <span class="author-deatila04re">
     <h5>About the Author</h5>
      <p>{{post?.user.username}}</p>

  </span> </div>
      <!-- <div class="related3948-question-part">
          <h3>Related questions</h3>
          <hr>
          <p><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>This Is My Second Poll Question</a></p>
          <p><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>This is my third Question</a></p>
          <p><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>This is my fourth Question</a></p>
          <p><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>This is my fifth Question</a></p>
      </div> -->
      <div class="comment-list12993">
          <div class="container">
              <div class="row">
<label>Commenter</label>
                  <div class="comments-container">
                      <ul id="comments-list" class="comments-list">


                          <li  *ngFor="let item of this.comments  ">
                            <div class="comment-main-level">
                                <!-- Avatar -->
                                <div class="comment-avatar"><img src="assets/image/{{item?.user.img}}" alt=""></div>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><a href="#">{{item?.user.username}}</a></h6> <span><i class="fa fa-clock-o" aria-hidden="true"> {{item?.date}}</i></span>  </div>
                                    <div class="comment-content">{{item?.content}} </div>
                                </div>
                            </div>
                        </li>

                      </ul>

              </div>
              </div>
          </div>
      </div>
      <div *ngIf="idUser != null"  [formGroup]="importForm" class="comment289-box">
          <h3>Commenter</h3>
          <hr>
          <div class="row">

              <div class="post9320-box">
                  <input formControlName="content" type="text" class="comment-input219882" placeholder=""> </div>
              <button (click)="CreateComment()" type="button" class="pos393-submit">Commenter</button>
          </div>
      </div>
      <div *ngIf="idUser == null">
                veuillez-vous se connecter pour Commenter
      </div>








      </div>
      <aside class="col-md-3 sidebar97239">
        <app-aside></app-aside>
      </aside>
    </div>
  </div>
</section>

<footer></footer>
