<div class="modal-wrap">

  <div class="modal-bodies">
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title">Sign Up</div>
      <div class="description">Hello there, Register Form</div>
      <form [formGroup]="importForm">
        <input formControlName="username" type="text" placeholder="Username*"/>
        <input formControlName="email" type="email" placeholder="E-Mail*"/>
        <input type="password" placeholder="Password*"/>
        <input formControlName="password" type="con-password" placeholder="Confirm Password*"/>

        <div class="text-center">
          <div (click)="CreateUser()" class="button">Sign Up</div>

        </div>
      </form>
    </div>


  </div>
</div>
