<header></header>
<div class="modal-wrap">

  <div class="modal-bodies">
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title"></div>
      <form [formGroup]="importForm">
        <input formControlName="username" type="text" placeholder="Username*"/>
        <input type="password" placeholder="Password*"/>
        <input formControlName="password" type="con-password" placeholder="Confirm Password*"/>
        <input formControlName="nomEntreprise" type="text" placeholder="nomEntreprise*"/>
        <input formControlName="Nom" type="text" placeholder="Nom*"/>
        <input formControlName="prenom" type="text" placeholder="prenom*"/>
        <input formControlName="email" type="email" placeholder="E-Mail*"/>
        <input formControlName="emailSecondaire" type="email" placeholder="E-Mail*"/>
        <input formControlName="adresse" type="text" placeholder="adresse*"/>

        <select class="form-control" formControlName="pays" placeholder="pays*">
          <option>France</option>
          <option>Italie</option>

        </select>
 <input formControlName="Region" type="text" placeholder="Region*"/>
        <input formControlName="codePostal" type="text" placeholder="codePostal*"/>
        <input formControlName="ville" type="text" placeholder="ville*"/>
        <input formControlName="telephone1" type="text" placeholder="telephone1*"/>
        <input formControlName="telephone2" type="text" placeholder="telephone2*"/>
        <input formControlName="metier" type="text" placeholder="metier*"/>




        <img  [src]="imageUrl" style="width: 100%;height: 100%;">
        <div class="button-group-addfile3239">
          <span class="form-description23993">Attactment*</span><input (change)="handleFileInput($event.target.files);onFileChanged($event)" #Image accept="image/*"  formControlName="img"  type="file" name="file"
            class="question-ttile3226">

        </div>



        <div class="text-center">
          <div (click)="CreateUser()" class="button">Sign Up</div>
          <br><br>
          <a routerLink="/login" ><div  class="button">Login</div></a>


        </div>



      </form>
    </div>


  </div>
</div>
