<div class="modal-wrap">

  <div class="modal-bodies">
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title">Log In</div>
      <div class="description">{{message}}</div>
      <form [formGroup]="importForm">
        <input formControlName="email" type="text" placeholder="Email"    />
        <input formControlName="password" type="email" placeholder="Password"/>
        <div class="text-center">
          <div class="button" (click)="UserLogin()">LOG IN</div>
            <a href="signup.html" target="_blank"><div  class="button">Create an account</div></a>
        </div>
      </form>
    </div>


  </div>
</div>
