<div  *ngIf="idGroup != null">
  <a [routerLink]="['/add-post', idGroup,this.route.snapshot.paramMap.get('idCategory'),title]"  class="form-control">Ajouter Un sujet dans {{title}}</a>
</div>
<mat-tab-group mat-align-tabs="center">


  <mat-tab label="Non epingler">
    <div *ngIf="idCategory != 4 || idGroup != null" id="main">

      <mat-grid-list cols="2" rowHeight="2:3">
        <div *ngFor="let item of this.listPosts" >
        <mat-grid-tile *ngIf="!item.epingler"  >
          <mat-card  class="example-card">
            <mat-card-header >
              <div mat-card-avatar class=""> <img mat-card-image [src]="returnImage(item.user.img)" alt="Photo of a Shiba Inu"></div>
              <mat-card-title  class="d-flex justify-content-between ">
                <div>
                {{item.user.username}}
                </div>
                <a  (click)="epingler(item,true)" ><i *ngIf="item.epingler"  class="fa fa-thumb-tack" aria-hidden="true"></i><i *ngIf="!item.epingler"  class="fa fa-stack-exchange" aria-hidden="true"></i> </a>
              </mat-card-title>
              <mat-card-subtitle>{{item.title}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="returnImage(item.img)" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{item?.content?.substring(0, 100)}}....
              </p>
            </mat-card-content>
            <mat-card-actions>



              <div class="row">

                <div class="ques-icon-info3293">
                   <a ><i class="fa fa-folder" aria-hidden="true"> {{item?.category?.value}}</i></a> <a ><i class="fa fa-clock-o" aria-hidden="true"> {{item?.date}}</i></a>
                        <a type="button" class=""><i class="fa fa-comment" aria-hidden="true">  {{item?.nbComment}}</i></a>

                        <a type="button" class=""> <i class="fa fa-user-circle-o" aria-hidden="true"> {{item?.views}}</i> </a>

                   <div class="l-rightside39">
                    <a (click)="like(item,true)"  type="button" class="tolltip-button thumbs-up2" data-toggle="tooltip" data-placement="bottom" title="Like"><i class="fa fa-thumbs-o-up " aria-hidden="true"></i><span class="single-question-vote-result">{{item?.nblike}}</span> </a>
                    <a  (click)="like(item,false)" type="button" class="tolltip-button  thumbs-down2" data-toggle="tooltip" data-placement="bottom" title="Dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a> <span class="single-question-vote-result">{{item?.nbdislike}}</span>
                   </div>
                </div>
              </div>

            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </div>


      </mat-grid-list>
    </div>

  </mat-tab>




  <mat-tab  label="Epingler">


    <div *ngIf="idCategory != 4 || idGroup != null" id="main">

      <mat-grid-list cols="2" >
        <div *ngFor="let item of this.listPosts" >
        <mat-grid-tile *ngIf="item.epingler"  >
          <mat-card  class="example-card">
            <mat-card-header >
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title  class="d-flex justify-content-between ">
                <div>
                {{item.user.nom}}
                </div>
                <a  (click)="epingler(item,true)" ><i *ngIf="item.epingler"  class="fa fa-thumb-tack" aria-hidden="true"></i><i *ngIf="!item.epingler"  class="fa fa-stack-exchange" aria-hidden="true"></i> </a>
              </mat-card-title>
              <mat-card-subtitle>{{item.title}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image  [src]="returnImage(item.img)" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{item?.content?.substring(0, 100)}}....
              </p>
            </mat-card-content>
            <mat-card-actions>



              <div class="row">

                <div class="ques-icon-info3293">
                   <a ><i class="fa fa-folder" aria-hidden="true"> {{item?.category?.value}}</i></a> <a ><i class="fa fa-clock-o" aria-hidden="true"> {{item?.date}}</i></a>
                        <a type="button" class=""><i class="fa fa-comment" aria-hidden="true">  {{item?.nbComment}}</i></a>

                        <a type="button" class=""> <i class="fa fa-user-circle-o" aria-hidden="true"> {{item?.views}}</i> </a>

                   <div class="l-rightside39">
                    <a (click)="like(item,true)"  type="button" class="tolltip-button thumbs-up2" data-toggle="tooltip" data-placement="bottom" title="Like"><i class="fa fa-thumbs-o-up " aria-hidden="true"></i><span class="single-question-vote-result">{{item?.nblike}}</span> </a>
                    <a  (click)="like(item,false)" type="button" class="tolltip-button  thumbs-down2" data-toggle="tooltip" data-placement="bottom" title="Dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a> <span class="single-question-vote-result">{{item?.nbdislike}}</span>
                   </div>
                </div>
              </div>

            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </div>


      </mat-grid-list>
    </div>


  </mat-tab>

</mat-tab-group>



<div *ngIf="idCategory == 4 && idCategory != null && idGroup == null" >
  <div  class="col-md-12 blog--top-part2892">
    <div *ngFor="let item of this.listPosts" class="blog-part3903">
       <img src="assets/image/blog-2-806x440.png" alt="Image" class="img-responsive">
        <div class="blog-details3902">
            <h3><span><i class="fa fa-picture-o" aria-hidden="true"></i></span> {{item?.title}}</h3>
            <hr>
            <div class="ques-icon-info2933"> <a [routerLink]="['/byUser', item?.userId]"><i class="fa fa-user" aria-hidden="true"> {{item?.user.username}}</i></a> <a href="#"><i class="fa fa-calendar" aria-hidden="true"> {{item?.date}}</i></a> <a  [routerLink]="['/byCategory', item?.categoryId]" href="#"><i class="fa fa-briefcase" aria-hidden="true"> {{item?.category}}</i></a> <a href="#"><i class="fa fa-comments-o" aria-hidden="true"> {{item?.nbComment}}</i></a> <a href="#"><i class="fa fa-eye" aria-hidden="true"> {{item?.views}}</i></a> </div>
            <p>{{item?.content?.substring(0, 40)}}...</p>
            <div class="continue-deatils738"> <a [routerLink]="['/post-details', item?.id]" href="#"><i class="fa fa-plus" aria-hidden="true"> Continue </i></a> </div>
        </div>
    </div>

    <!-- <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a>
            </li>
        </ul>
    </nav> -->
</div>
</div>


