<div *ngIf="idCategory != 4" id="main">
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">TOUS LES SUJETS</label>
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">SUJETS EPINGLES</label>
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">SUJETS </label>
  <section  *ngFor="let item of this.listPosts" id="content1">
         <!--Recent Question Content Section -->
      <div class="question-type2033">
          <div class="row">
              <div class="col-md-1">
                  <div class="left-user12923 left-user12923-repeat">
                      <a [routerLink]="['/byUser', item?.userId]" href="#"><img src="assets/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a> </div>
              </div>
              <div class="col-md-9">
                  <div class="right-description893">
                      <div id="que-hedder2983">
                          <h3><a [routerLink]="['/post-details', item?.id]"  >{{item?.title}}</a></h3> </div>
                      <div class="ques-details10018">
                          <p>{{item?.content?.substring(0, 40)}}....</p>
                      </div>
                      <hr>
                      <div class="ques-icon-info3293">
                        <a  (click)="epingler(item,true)" href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a href="#"><i class="fa fa-folder" aria-hidden="true"> {{item?.category?.value}}</i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> {{item?.date}}</i></a> <a href="#"></a> <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a>
                        <div class="l-rightside39">
                          <button (click)="like(item,true)"  type="button" class="tolltip-button thumbs-up2" data-toggle="tooltip" data-placement="bottom" title="Like"><i class="fa fa-thumbs-o-up " aria-hidden="true"></i><span class="single-question-vote-result">{{item?.nblike}}</span> </button>
                          <button  (click)="like(item,false)" type="button" class="tolltip-button  thumbs-down2" data-toggle="tooltip" data-placement="bottom" title="Dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button> <span class="single-question-vote-result">{{item?.nbdislike}}</span> </div>
                      </div>

                    </div>
              </div>
              <div class="col-md-2">
                  <div class="ques-type302">
                      <a href="#">
                          <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  {{item?.nbComment}}</i></button>
                      </a>
                      <a href="#">
                          <button type="button" class="q-type23 button-ques2973"> <i class="fa fa-user-circle-o" aria-hidden="true"> {{item?.views}}</i> </button>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <div *ngFor="let item of this.listPosts" id="content2">
  <section *ngIf="item.epingler"   >
    <!--Recent Question Content Section -->
 <div   class="question-type2033">
     <div class="row">
         <div class="col-md-1">
             <div class="left-user12923 left-user12923-repeat">
                 <a [routerLink]="['/byUser', item?.userId]" href="#"><img src="assets/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a> </div>
         </div>
         <div class="col-md-9">
             <div class="right-description893">
                 <div id="que-hedder2983">
                     <h3><a [routerLink]="['/post-details', item?.id]"  >{{item?.title}}</a></h3> </div>
                 <div class="ques-details10018">
                     <p>{{item?.content?.substring(0, 40)}}....</p>
                 </div>
                 <hr>
                 <div class="ques-icon-info3293">
                   <a  (click)="epingler(item,true)" href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a href="#"><i class="fa fa-folder" aria-hidden="true"> {{item?.category?.value}}</i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> {{item?.date}}</i></a> <a href="#"></a> <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a>
                   <div class="l-rightside39">
                     <button (click)="like(item,true)"  type="button" class="tolltip-button thumbs-up2" data-toggle="tooltip" data-placement="bottom" title="Like"><i class="fa fa-thumbs-o-up " aria-hidden="true"></i><span class="single-question-vote-result">{{item?.nblike}}</span> </button>
                     <button  (click)="like(item,false)" type="button" class="tolltip-button  thumbs-down2" data-toggle="tooltip" data-placement="bottom" title="Dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button> <span class="single-question-vote-result">{{item?.nbdislike}}</span> </div>
                 </div>

               </div>
         </div>
         <div class="col-md-2">
             <div class="ques-type302">
                 <a href="#">
                     <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  {{item?.nbComment}}</i></button>
                 </a>
                 <a href="#">
                     <button type="button" class="q-type23 button-ques2973"> <i class="fa fa-user-circle-o" aria-hidden="true"> {{item?.views}}</i> </button>
                 </a>
             </div>
         </div>
     </div>
 </div>
</section>
</div>

<div *ngFor="let item of this.listPosts" id="content3">
  <section *ngIf="!item.epingler"  >


<div   class="question-type2033">
   <div class="row">
       <div class="col-md-1">
           <div class="left-user12923 left-user12923-repeat">
               <a [routerLink]="['/byUser', item?.userId]" href="#"><img src="assets/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a> </div>
       </div>
       <div class="col-md-9">
           <div class="right-description893">
               <div id="que-hedder2983">
                   <h3><a [routerLink]="['/post-details', item?.id]"  >{{item?.title}}</a></h3> </div>
               <div class="ques-details10018">
                   <p>{{item?.content?.substring(0, 40)}}....</p>
               </div>
               <hr>
               <div class="ques-icon-info3293">
                 <a  (click)="epingler(item,true)" href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a href="#"><i class="fa fa-folder" aria-hidden="true"> {{item?.category?.value}}</i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> {{item?.date}}</i></a> <a href="#"></a> <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a>
                 <div class="l-rightside39">
                   <button (click)="like(item,true)"  type="button" class="tolltip-button thumbs-up2" data-toggle="tooltip" data-placement="bottom" title="Like"><i class="fa fa-thumbs-o-up " aria-hidden="true"></i><span class="single-question-vote-result">{{item?.nblike}}</span> </button>
                   <button  (click)="like(item,false)" type="button" class="tolltip-button  thumbs-down2" data-toggle="tooltip" data-placement="bottom" title="Dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button> <span class="single-question-vote-result">{{item?.nbdislike}}</span> </div>
               </div>

             </div>
       </div>
       <div class="col-md-2">
           <div class="ques-type302">
               <a href="#">
                   <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  {{item?.nbComment}}</i></button>
               </a>
               <a href="#">
                   <button type="button" class="q-type23 button-ques2973"> <i class="fa fa-user-circle-o" aria-hidden="true"> {{item?.views}}</i> </button>
               </a>
           </div>
       </div>
   </div>
</div>
</section>
</div>
  <!--  End of content-1------>

</div>


<div *ngIf="idCategory == 4" >
  <div  class="col-md-12 blog--top-part2892">
    <div *ngFor="let item of this.listPosts" class="blog-part3903">
       <img src="assets/image/blog-2-806x440.png" alt="Image" class="img-responsive">
        <div class="blog-details3902">
            <h3><span><i class="fa fa-picture-o" aria-hidden="true"></i></span> {{item?.title}}</h3>
            <hr>
            <div class="ques-icon-info2933"> <a [routerLink]="['/byUser', item?.userId]"><i class="fa fa-user" aria-hidden="true"> {{item?.user.username}}</i></a> <a href="#"><i class="fa fa-calendar" aria-hidden="true"> {{item?.date}}</i></a> <a  [routerLink]="['/byCategory', item?.categoryId]" href="#"><i class="fa fa-briefcase" aria-hidden="true"> {{item?.category}}</i></a> <a href="#"><i class="fa fa-comments-o" aria-hidden="true"> {{item?.nbComment}}</i></a> <a href="#"><i class="fa fa-eye" aria-hidden="true"> {{item?.views}}</i></a> </div>
            <p>{{item?.content?.substring(0, 40)}}...</p>
            <div class="continue-deatils738"> <a [routerLink]="['/post-details', item?.id]" href="#"><i class="fa fa-plus" aria-hidden="true"> Continue </i></a> </div>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a>
            </li>
        </ul>
    </nav>
</div>
</div>
