<section *ngIf="show"  class="welcome-part-one">
  <div class="container">
      <div class="welcome-demop102 text-center">


          <div class="form-style8292-">
              <div [formGroup]="importForm" class="input-group" >
                  <input formControlName="title" type="text" class="form-control form-control8392" placeholder="Ajouter Un Group {{this.groupDans}}"> <span class="input-group-addon"><button style="width: 100%; height: 100%;" (click)="addGroup()" >Ajouter Un group</button></span>
                </div>
          </div>
      </div>
  </div>
</section>
