/* You can add global styles to this file, and also import other style files */
.changeColor {
  background:#982121;
  color:#ecf0f1 !important;
  }
  .changeColor:hover {
    background-:#982121;
    color:#ecf0f1 !important;
    }


    .mat-card-header-text{
      width: 100%;
    }

    .scroll {
      margin:4px, 4px;
      padding:4px;
      height: 400px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align:justify;
    }
