
    <div class="footer-search">
      <div class="container">
          <div class="row">
              <div id="custom-search-input">
                  <div class="input-group col-md-12"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      <input type="text" class="  search-query form-control user-control30" placeholder="Search here...." /> <span class="input-group-btn">
  <button class="btn btn-danger" type="button">
      <span class=" glyphicon glyphicon-search"></span> </button>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
<br><br><br><br><br><br><br><br>
  <section class="footer-social">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <p>Copyright 2020  | <strong>CDI technologies</strong></p>
              </div>
              <div class="col-md-6">
                  <div class="social-right2389"> <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a> </div>
              </div>
          </div>
      </div>
  </section>
